<div class="form-style-8">
  <h2>Create a new tool</h2>
    <%= simple_form_for(@tool) do |f| %>
    <div class="field">
      <%= f.label :name  %>
      <%= f.text_field :name, input_html: { class: "form-textfield" } %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description, input_html: { class: "form-textfield" } %>
    </div>
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, input_html: { class: "form-textfield" } %>
    </div>
    <div>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    </div>
    <div class="button">
    <%= f.submit %>
    </div>
    <% end %>
</div>
