<div class="button">
  <%= link_to "Back to index", tools_path %>
</div>

<div class="tool-card">
  <div class="headline-and-actions">
    <span class="tool-title">Tool: <%= @tool.name %></span>

    <span class="actions">
    <% unless @tool.user == current_user %>
    <%= link_to "Book", new_tool_booking_path(@tool) %>
    <% end %>

    <% if policy(@tool).edit? %>
    <%= link_to 'Edit tool', edit_tool_path %>
    <% end %>
    <% if policy(@tool).destroy? %>
    <%= link_to 'Delete tool', tool_path, method: :delete %>
    <% end %>
    </span>
  </div>

  <div class="tool-picture-details">
    <% if @tool.photo.present? %>
    <%= cl_image_tag @tool.photo, height: 300, width: 400, crop: :fill %>
    <% end %>
    <div class="tool-details">
    <p><strong>Owner:</strong> <%= @tool.user.name %></p>
    <p><strong>Description:</strong> <%=  @tool.description%></p>
    <p><strong>Location:</strong> <%= @tool.address%></p>
    </div>
  </div>
</div>


<!-- If I'm the creator, I can't see 'Book' option -->

