<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    🧰 Tooli
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'All tools', tools_path, class: "nav-link" %>
      </li>
      <% if current_user %>
      <li class="nav-item">
        <%= link_to 'Add a new tool', new_tool_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
          <%= link_to 'My profile', user_path(current_user), class: "nav-link"  %>
      </li>
      <li class="nav-item">
          <%= link_to 'Log out', destroy_user_session_path, method: 'delete', class: "nav-link"  %>
      </li>
      <% else %>
      <li class="nav-item">
          <%= link_to 'Sign in', new_user_session_path, class: "nav-link" %>
      </li>
      <% end %>
      <li class="nav-item dropdown">
        <%= gravatar_image(current_user, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
      </li>
    </ul>
  </div>
</div>
